Repository asreview/synergy-dataset, pull requests merged in 2025-02, with the labels that each got.

#134 Add dataset Pinos-Cisneros 2023
  datasets.toml
  datasets/Pinos-Cisneros_2023/Pinos_Cisneros_2023_ids.csv
  datasets/Pinos-Cisneros_2023/compose.py
Labels: new-dataset

#139 Add dataset Boersma-van_Dam
  datasets.toml
  datasets/Boersma-van_Dam_2024/Boersma-van_Dam_2024_ids.csv
  datasets/Boersma-van_Dam_2024/compose.py
Labels: new-dataset

#140 Add dataset Bakker-Jacobs
  datasets.toml
  datasets/Bakker-Jacobs_2022/Bakker-Jacobs_2022_ids.csv
  datasets/Bakker-Jacobs_2022/compose.py
Labels: new-dataset

#141 Add dataset Cozim-Melges_2024
  datasets.toml
  datasets/Cozim-Melges_2024/Cozim-Melges_2024_ids.csv
  datasets/Cozim-Melges_2024/compose.py
Labels: new-dataset

#143 Add dataset Maciel
  datasets.toml
  datasets/Maciel_2024/Maciel_2024_ids.csv
  datasets/Maciel_2024/compose.py
Labels: new-dataset

#144 Add dataset Sanchez-Gomez_2024
  datasets.toml
  datasets/Sanchez-Gomez_2024/Sanchez-Gomez_2024_ids.csv
  datasets/Sanchez-Gomez_2024/compose.py
Labels: new-dataset

#147 Add dataset Hanlon_2022
  datasets.toml
  datasets/Hanlon_2022/Hanlon_2022_ids.csv
  datasets/Hanlon_2022/compose.py
Labels: new-dataset

#148 Remove processing and metadata of datasets that are invalid
  datasets.toml
  datasets/Bannach-Brown_2019/Bannach-Brown_2019_ids.csv
  datasets/Bannach-Brown_2019/compose.py
  datasets/Cohen_2006/Cohen_2006_ACEInhibitors_ids.csv
  datasets/Cohen_2006/Cohen_2006_ADHD_ids.csv
  datasets/Cohen_2006/Cohen_2006_Antihistamines_ids.csv
  datasets/Cohen_2006/Cohen_2006_AtypicalAntipsychotics_ids.csv
  datasets/Cohen_2006/Cohen_2006_BetaBlockers_ids.csv
  datasets/Cohen_2006/Cohen_2006_CalciumChannelBlockers_ids.csv
  datasets/Cohen_2006/Cohen_2006_NSAIDS_ids.csv
  datasets/Cohen_2006/Cohen_2006_OralHypoglycemics_ids.csv
  datasets/Cohen_2006/Cohen_2006_ProtonPumpInhibitors_ids.csv
  datasets/Cohen_2006/Cohen_2006_Statins_ids.csv
  datasets/Cohen_2006/Cohen_2006_Triptans_ids.csv
  datasets/Cohen_2006/Cohen_2006_UrinaryIncontinence_ids.csv
  datasets/Cohen_2006/compose.py
  datasets/Howard_2016/Rooney_2015_ids.csv
  datasets/Howard_2016/compose.py
  datasets/Kwok_2020/Kwok_2020_ids.csv
  datasets/Kwok_2020/compose.py
  datasets/Muthu_2022/Muthu_2022_ids.csv
  datasets/Muthu_2022/compose.py
  datasets/Nagtegaal_2019/Nagtegaal_2019_ids.csv
  datasets/Nagtegaal_2019/compose.py
  datasets/Welling_2021/Welling_2021_ids.csv
  datasets/Welling_2021/compose.py
  datasets/Yu_2018/Wahono_2015_ids.csv
  datasets/Yu_2018/compose.py
  datasets/Yu_2018/enrich.py
Labels: invalid-dataset

#151 Update Brons 2024 compose to new OSF
  datasets/Brons_2024/Brons_2024_ids.csv
  datasets/Brons_2024/compose.py
Labels: enhancement

#156 add dataset Pijls_2017
  datasets.toml
  datasets/Pijls_2017/Pijls_2017_ids.csv
  datasets/Pijls_2017/compose.py
Labels: new-dataset
